@charset "UTF-8";
.wrapper {
    border: 1px solid black;
    margin-bottom: 15px;
}

.basic {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div {
    border: 1px solid black;
    background-color: lightblue;
}

div.ex1 {
    padding: 25px 50px 75px 100px;
}

div.ex2 {
    padding: 25px 50px 75px;
}

div.ex3 {
    padding: 25px 50px;
}

div.ex4 {
    padding: 25px;
}